<ion-header>
  <ion-navbar>
    <ion-title>
      CapFin
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [(ngModel)] = "usercreds.email" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input [(ngModel)] = "usercreds.password" type="password"></ion-input>
        </ion-item>
    </ion-list>

    <button ion-button (click)="login(usercreds)">Login</button>
    <button ion-button (click)="signup()">Signup</button>
</ion-content>
