<!--
  Generated template for the Userpage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h4>You are logged in</h4>
    <button ion-button (click)="logout()">Logout</button>
    <button ion-button (click)="getProfile()">Profile</button>
    <button ion-button (click)="getAddressDetails()">Address</button>
    <br/><br/>
    <div *ngIf='cust_profile'>
      <h3>Profile</h3>
      <h4>{{cust_profile?.first_name}} {{cust_profile?.surname}}</h4>
      <p>Customer Id: {{cust_profile?.customer_id}}</p>
      <p>Email Address: {{cust_profile?.email}}</p>
      <p>First Name: {{cust_profile?.first_name}}</p>
      <p>Tel Number: {{cust_profile?.tel_number}}</p>
    </div> <br/>

    <div *ngIf='cust_address_details'>
      <h3>Address</h3>
      <h4>City: {{cust_address_details[0]?.city}}, Province: {{cust_address_details[0]?.province}}</h4>
      <p>Address Line 1: {{cust_address_details[0]?.line1}}</p>
      <p>Address Line 2: {{cust_address_details[0]?.line2}}</p>
      <p>Address Line 3: {{cust_address_details[0]?.line3}}</p>
      <p>Postal Code: {{cust_address_details[0]?.post_Code}}</p>      
    </div>    

    <button ion-button (click)="nextPage()">Next</button>
    <button ion-button (click)="accountPage()">Accounts</button>
</ion-content>


<!-- Profile response example 
result.profile_id;
result.email;
result.customer_id;
result.tel_number;
result.surname;
result.id_type;
result.id_number;
result.profile_token;   
-->

<!-- Address response example
[
{
"city": "ORANGE",
"entry_Id": 62992,
"line1": "3 SAMUEL",
"line2": "",
"line3": "CL",
"object_Id": 18208,
"post_Code": "2800 ",
"province": "NSW",
"type_Id": 1
}
]-->