
<ion-header>

  <ion-navbar>
    <ion-title>User Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="cust_details">
    <ion-item-group>
      <ion-item-divider color="light">Your Details</ion-item-divider>
      <ion-item>Full Name: {{cust_details?.first_Name}} {{cust_details?.surname}}</ion-item>
      <ion-item>Birthday: {{cust_details?.date_Birth | date: 'yyyy-MM-dd'}}</ion-item>
      <ion-item>Id Number: {{cust_details.iD_Number}}</ion-item>      
    </ion-item-group>        
  </div>

</ion-content>

<!--{
"customer_Id": 252075,
"date_Birth": "1968-11-05T00:00:00.0000000+02:00",
"dependants": 2,
"ethnicity_Id": null,
"first_Name": "Peter",
"gender": "M",
"identification_List": [
{
"customer_Id": 252075,
"customer_Identification_Id": 16227,
"iD_Number": "11207910",
"identification_Type_Id": 6
}
],
"initials": "",
"language_Id": null,
"marital_Status": "Married",
"marital_Type": "",
"middle_Name": "",
"nationality_Id": 1,
"object_Id": 18208,
"preferred_Name": null,
"status": "ACTIVE",
"surname": "Rooks",
"title": "MR"
}-->